{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <br>
    <h5>Preferred Currency</h5>
    {% include 'partials/_messages.html' %}
    <form action="{% url 'preferences' %}" method="post">
        {% csrf_token %}
    <div class="input-group">
      <select name="user_option" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
          {% if user_preference.currency %}
            <option name="user_option" selected value="{{user_preference.currency}}">{{user_preference.currency}} </option>
          {% endif %}

          {% for currency in currencies %}
          <option name="user_option" value="{{currency.name}} - {{currency.value }}">{{currency.name}} - {{currency.value }}</option>
         {% endfor %}
      </select>
      <input type="submit", class="btn btn-outline-primary" value="Save">
    </div>
    </form>
</div>

{% endblock %}